/* imports */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@keyframes opacer{
    to{
        text-shadow:1px 1px 1px #ce9c1e;
    }
    50%{
        text-shadow:1px 1px 5px #F3A522;
    }
    from{
        text-shadow:1px 1px 1px #ce9c1e;
    }
}
/* resets and general*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}
::-webkit-scrollbar{
    width: 6px;
    background-color: #000000;
}
::-webkit-scrollbar-thumb{
    background-color: #F3A522;
}
.call-btn{
    background-color: green;
    border-radius: 8px;
    padding: 6px 10px;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.1rem;
    color: rgb(0, 0, 0);
    width: 8rem;
    text-align: center;
    text-transform: capitalize;

    opacity: 0.9;
    transition: ease-in-out .5s;
}
#call-btn:hover{
    opacity: 1;
}
/* header */
header{
    display: flex;
    position: fixed;
    top: 0;
    justify-content: space-between;
    background-image: linear-gradient(black,  transparent 90%);
    color: white;
    padding: 0 100px;
    width: 100vw;
    z-index: 3;
}
header img{
    width: 10rem;
    border-radius: 50%;
}
.screen-choice{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 20rem;
    z-index: 2;
}
select, option{
    width: 8rem;
    padding: 10px;
    border-radius: 8px;
    cursor: grab;
    transition: 1s;
    background-color: #ffffffc5;
    text-align: center;
}
select:hover{
    background-color: white;
}
/* main */
.call-container{
    width: 100%;
    height: 100vh;
    overflow: hidden;
    z-index: 0;
}
.call-container video{
    width: 100%;
    object-fit: cover;
    object-position: center;
    z-index: -2;
}
.call{
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 2;
    color: white;
    top: 35vh;
    width: 100%;
    padding: 0 100px;
}
.call img{
    width: 15rem;
    border-radius: 8px;
    box-shadow: 1px 1px 10px gold;
}
.call-txt{
    width: 50%;
}
.call-txt h2{
    font-size: 1.5rem;
    margin-bottom: 10px;
}
.call-txt p{
    font-size: 1.2rem;
    width: 80%;
    margin-bottom: 25px;
}
.call-txt span{
    animation: opacer 1s infinite ease-in-out;
    font-weight: bold;
    display: block;
    text-align: center;
}
.channel{
    width: 100%;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-bottom: 10rem / -10rem;
}
.channel h3{
    font-size: 2rem;
    margin: 20px 0;
}
.channel img{
    width: 50%;
}
.channel ul{
    background-image: url('../images/Group\ 1\ \(2\).png');
    background-size: cover;
    background-attachment: fixed;
    background-position: top;
    width: 100%;
    height: 80vh;
    color: #F3A522;
    font-size: 2rem;

    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: center;
    padding: 30px 0;
}
.channel .look{
    min-width: 300px;
    margin: 50px 0;
}
.box-container{
    background-color: rgba(0, 0, 0, 0.527);
    border-radius: 3rem;
    box-shadow: 3px 3px rgba(0, 0, 0, 0.616), 3px 3px 8px rgba(0, 0, 0, 0.445);
    padding: 100px;
}
.box-container li{
    display: flex;
    list-style: none;
    margin: 20px 0;
}
.box-container li i{
    margin-right: 10px;
}
.plans-container{
    background-color: black;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 100vh;
}
.plan{
    background-image: url('https://media.istockphoto.com/id/1078741202/pt/foto/television-streaming-video-media-tv-on-demand.jpg?s=1024x1024&w=is&k=20&c=rwMJqtivZCFnkZO4vK3ZWZTx6Y3kdjUlVOJdwmuvmdI=');
    background-size: cover;
    background-position: center;
    margin: 50px 0;
    width: 300px;
    height: 420px;
    box-shadow: 0px 0px 10px white;
    border-radius: 2rem;
    z-index: 4;
    border: 5px groove orange;

    overflow: hidden;
    display: flex;
    transform: translate(-1250px);
    transition: 1s;
}
.inside{
    background-color: #8a5700ad;
    width: 100%;
    height: 100%;
    padding: 50px 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-transform: capitalize;
}
.plan ul{
    display: flex;
    flex-direction: column;
    gap: 20px;
    border: 1px solid #ffb700;
    width: 100%;
    list-style: inside;
    padding: 20px;
    border-radius: 2rem;
    background-color: #ffde8c;
}
.plan ul li{
    text-align: left;
    font-size: .9rem;
    padding: 5px;
}
.show{
    transform: translate(0px);
}
.plan-btn{
    width: 100%;
    opacity: .9;
    color: #444444;
    margin-top: 20px;
}
.plan-btn:hover{
    opacity: 1;
    box-shadow: 2px 2px 10px white;
}
.inside h3{
    font-size: 1.5rem;
    color: white;
    border-bottom: 3px solid rgb(150, 107, 0);
    width: 80%;
    text-align: center;
}
.inside span{
    color: #fdfdfd;
    font-weight: bolder;
    font-size: 2rem;
}
footer{
    background-color: #000000;
    height: 50vh;
    border-top: 3px groove #F3A522;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
footer h4{
    font-size: 3rem;
}
footer img{
    width: 10vw;
    height: 10vw;
}
footer aside{
    width: 40%;
}
footer aside p{
    margin: 50px 0;
}